body {
  background-color: #f8e8a6;
  text-align: center;
}
a {
  color: #289b5b;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.email-link {
  color: #175cd2;
}
